body {
  font-family: arial;
  font-size: .9vh;
  /* font-size: .6vw; */
}

#main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* each case */
.case {
  width: 5vw;
  height: 3.32vh;
  float: left;
  padding: .25em;
}

.active {
  /* background: white;
  color: black; */
  color: white;
}

.passive {
  color: gray;
  /* background: white; */
  /* color: black; */
  opacity: 0.2;
}

#clock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ff0084;
  font-size: 25em;
}
/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: black;

}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
